@using WhatHaveYouPlayed.Models.Dto
@model AccountDto
@{
    Layout = "/Views/Shared/_LayoutOverview.cshtml";
}
@*<div class="col-lg-6">
    <form asp-action="ChangePassword" asp-controller="Account" method="post">
        <div class="form-group">

        </div>
        <input name="OldPassword" aria-required="true" type="password" class="form-control mb-2" placeholder="Old Password">
        <input name="NewPassword" aria-required="true" type="password" class="form-control mb-2" placeholder="New Password">
        <input name="ConfirmPassword" aria-required="true" type="password" class="form-control mb-2" placeholder="Confirm Password">

        <button type="submit" class="btn btn-info">Change Password</button>
    </form>
</div>*@
<form asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-2">
        @Html.PasswordFor(m=>m.ChangeData.OldPassword ,new{placeholder="Password", @class="form-control"})
        @Html.ValidationMessageFor(m => m.ChangeData.OldPassword, "", new { @class = "text-danger" })
        @*<label asp-for="ChangeData.OldPassword" class="control-label"></label>
        <input asp-for="ChangeData.OldPassword" class="form-control" />
        <span asp-validation-for="ChangeData.OldPassword" class="text-danger"></span>*@
    </div>
    <div class="form-group mb-2">
        @Html.PasswordFor(m=>m.ChangeData.NewPassword ,new{placeholder="New Password", @class="form-control"})
        @Html.ValidationMessageFor(m => m.ChangeData.NewPassword, "", new { @class = "text-danger" })
        @*<label asp-for="ChangeData.NewPassword" class="control-label"></label>
        <input asp-for="ChangeData.NewPassword" class="form-control" />
        <span asp-validation-for="ChangeData.NewPassword" class="text-danger"></span>*@
    </div>
    <div class="form-group mb-2">
        @Html.PasswordFor(m=>m.ChangeData.ConfirmPassword ,new{placeholder="Confirm Password", @class="form-control"})
        @Html.ValidationMessageFor(m => m.ChangeData.ConfirmPassword, "", new { @class = "text-danger" })
        @*<label asp-for="ChangeData.ConfirmPassword" class="control-label"></label>
        <input asp-for="ChangeData.ConfirmPassword" class="form-control" />
        <span asp-validation-for="ChangeData.ConfirmPassword" class="text-danger"></span>*@
    </div>
    <div class="form-group">
        <input type="submit" value="Update Password" class="btn btn-primary" />
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}